[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
strawberry-graphql = {extras = ["fastapi"], version = "*"}
redis = {extras = ["hiredis"], version = "*"}

[dev-packages]
twine = "*"
build = "*"
pytest = "*"

[requires]
python_version = "3.12"